.rating-box{
  input{
    display:none
  }
  .checked-star{
    background: -webkit-radial-gradient(gold, rgb(108, 91, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}